<script>
$(function() {
  auto_complete("#listing_email", "email", "<%= account_emails_path(:format => "xml") %>");
}); 
</script>
  <p>
    <b>Vaga:</b>
    <%= @job.title %>
  </p>

  <div class="group">
    <%= f.label :region, t("activerecord.attributes.listing.region", :default => "Region"), :class => :label %>
    <%= f.text_field :region, :class => 'text_field' %>
    <span class="description">Ex: Sigla do Estado (SP, RJ, MG) caso seja no exterior apenas coloque o nome do pais</span> 
  </div>

  <div class="group">
    <%= f.label :location, t("activerecord.attributes.listing.location", :default => "Location"), :class => :label %>
    <%= f.text_field :location, :class => 'text_field' %>
    <span class="description">Ex: Nome da cidade: São Paulo, Rio de Janeiro, Belo Horizonte, New York...</span>
  </div>

  <div class="group">
    <%= f.label :email, t("activerecord.attributes.listing.email", :default => "Email"), :class => :label %>
    <%= f.text_field :email, :class => 'text_field' %>
  </div>

	<div class="group">
	  <%= f.label :opening, t("activerecord.attributes.listing.opening", :default => "opening"), :class => :label %>
	  <%= f.text_field :opening, :class => 'text_field' %>
	</div>

  <div class="group">
    <%= f.label :day_count, t("activerecord.attributes.listing.day_count", :default => "Day count"), :class => :label %>
    <%= f.text_field :day_count, :class => 'text_field' %>
  </div>
        
<div class="group navform wat-cf">
  <button class="button" type="submit">
    <%= image_tag("web-app-theme/tick.png", :alt => "#{t("web-app-theme.save", :default => "Save")}") %> <%= t("web-app-theme.save", :default => "Save") %>
  </button>  
  <%= link_to "#{image_tag("web-app-theme/cross.png", :alt => "#{t("web-app-theme.cancel", :default => "Cancel")}")} #{t("web-app-theme.cancel", :default => "Cancel")}", account_job_path(@account, @job), :class => "button" %> 
</div>
