<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">	    
      <li class="first"><%= link_to "Conta " +  @account.name, account_path(@account) %></li>
      <li><%= link_to "Vaga #{@job.name}", account_job_path(@account, @job)  %></li>
      <li class="last active"><%= link_to "Criar Anuncio", "#" %></li>
    </ul>
  </div>          
  <div class="content">          
    <h2 class="title"><%= t("web-app-theme.all", :default => "All")  %> Listings</h2>
    <div class="inner">
      <table class="table">
        <tr>             
          <th class="first">ID</th>
										<th>
					<%= t("activerecord.attributes.listing.job_id", :default => t("activerecord.labels.job_id", :default => "Job_id")) %>
</th>
					          <th><%= t("web-app-theme.created_at", :default => "Created at")  %></th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @listings.each do |listing| -%>
        <tr class="<%= cycle("odd", "even") %>">
          <td>
            <%= listing.id %>
          </td>
										<td>
						<%= link_to listing.job_id, listing_path(listing) %>
					</td>
										<td>
            <%= listing.created_at %>
          </td>
          <td class="last">
            <%= link_to "#{t("web-app-theme.show", :default => "Show")}", listing_path(listing) %> |
            <%= link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_listing_path(listing) %> |
            <%= link_to "#{t("web-app-theme.delete", :default => "Delete")}", listing_path(listing), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
          </td>
        </tr>          
        <% end -%>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>
        
      </div>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>
