<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "Conta " +  @account.name, account_path(@account) %></li>
      <li><%= link_to "Vaga #{@job.name}", account_job_path(@account, @job)  %></li>
      <li class="last active"><%= link_to "Anuncio #{@listing.day_count}", account_job_listing_path %></li>
    </ul>
  </div>          
  <div class="content">
    <div class="inner">
      
        <p>
          <b>Título:</b>
          <%= @job.title %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.listing.opening", :default => t("activerecord.labels.opening", :default => "Opening")) %>:</b>
          <%= @listing.opening %>
        </p>


        <p>
          <b><%= t("activerecord.attributes.listing.region", :default => t("activerecord.labels.region", :default => "Region")) %>:</b>
          <%= @listing.region %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.listing.location", :default => t("activerecord.labels.location", :default => "Location")) %>:</b>
          <%= @listing.location %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.listing.email", :default => t("activerecord.labels.email", :default => "Email")) %>:</b>
          <%= @listing.email %>
        </p>

        <p>
          <b>Data da ativação:</b>
          <%= @listing.actived_at %>
        </p>

        <p>
          <b>Data da validade:</b>
          <%= @listing.expirate_date %>
        </p>
      <div class="wat-cf">
        <%= link_to "#{image_tag("web-app-theme/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}")} #{t("web-app-theme.edit", :default=> "Edit")}", edit_account_job_listing_path(@account, @job, @listing), :class => "button" %> 
        <%= link_to "#{image_tag("web-app-theme/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}")} #{t("web-app-theme.delete", :default => "Delete")}", account_job_listing_path, :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
      </div>      
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>
