				<p>
				  <b><%= t("activerecord.attributes.job.category_name", :default => t("activerecord.labels.category_name", :default => "Category Name")) %>:</b>
				  <%= @job.category.name %>
				</p>
				
        <p>
          <b><%= t("activerecord.attributes.job.title", :default => t("activerecord.labels.title", :default => "Title")) %>:</b>
          <%= @job.title %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.job.description", :default => t("activerecord.labels.description", :default => "Description")) %>:</b>
          <br /><br /><%= @job.description.gsub("\r\n", "<br />") %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.job.salary_info", :default => t("activerecord.labels.salary_info", :default => "Salary info")) %>:</b>
          <%= @job.salary_info %>
        </p>

