<script>
$(function() {
  auto_complete("#job_category_name", "category", "<%= categories_path(:format => "xml") %>");
}); 
</script>

	<div class="group">
	  <%= f.label :category_name, t("activerecord.attributes.job.category_name", :default => "Category Name"), :class => :label %>
	  <%= f.text_field :category_name, :class => 'text_field', :value => @job.category_name_value %>
	</div>

  <div class="group">
    <%= f.label :title, t("activerecord.attributes.job.title", :default => "Title"), :class => :label %>
    <%= f.text_field :title, :class => 'text_field' %>
  </div>

  <div class="group">
    <%= f.label :salary_info, t("activerecord.attributes.job.salary_info", :default => "Salary info"), :class => :label %>
    <%= f.text_field :salary_info, :class => 'text_field' %>
  </div>

  <div class="group">
    <%= f.label :description, t("activerecord.attributes.job.description", :default => "Description"), :class => :label %>
    <%= f.text_area :description, :class => 'text_area' %>
  </div>
