
  <div class="group">
    <%= f.label :ref_info, t("activerecord.attributes.job.ref_info", :default => "Ref info"), :class => :label %>
    <%= f.text_field :ref_info, :class => 'text_field' %>
  </div>

  <div class="group">
    <%= f.label :title, t("activerecord.attributes.job.title", :default => "Title"), :class => :label %>
    <%= f.text_field :title, :class => 'text_field' %>
  </div>

  <div class="group">
    <%= f.label :salary_info, t("activerecord.attributes.job.salary_info", :default => "Salary info"), :class => :label %>
    <%= f.text_field :salary_info, :class => 'text_field' %>
  </div>

  <div class="group">
    <%= f.label:email, t("activerecord.attributes.job.email", :default => "E-mail"), :class => :label %>
    <%= f.text_field :email, :class => 'text_field' %>
  </div>

  <div class="group">
    <%= f.label :description, t("activerecord.attributes.job.description", :default => "Description"), :class => :label %>
    <%= f.text_area :description, :class => 'text_area' %>
  </div>
