<% @listings.published.each do |listing| -%>
<div class="post" id="post-<%= listing.id %>">
	<h2><%= listing.job.title %> em <%= listing.region %>, <%= listing.location %></h2>
	<div class="info">
		<span class="date"><%= listing.created_at.strftime("%d/%m/%Y") %></span>
		<span class="author">
			<a href="#" title="<%= listing.job.company.name %>"><%= listing.job.company.name %></a>
		</span>									
		<span class="addcomment"><a href="#respond">Enviar curriculo para está vaga</a></span>
		<div class="fixed"></div>
	</div>
	<div class="content">
		<div class='snap_preview'>
			<p><%= listing.job.description.gsub("\r\n", "<br />") %><p/>
			<p><strong>Salário:</strong> <%= listing.job.salary_info %></p>
			<p><strong>Empresa:</strong> <%= listing.job.company.name %></p>
			<p><strong>Código:</strong> <%= listing.code %></p>
	<div id="geo-post-338" class="geo geo-post" style="display: none">
		<span class="latitude">-22.317000</span>
		<span class="longitude">-49.067000</span>
	</div></div>						<div class="fixed"></div>
	</div>
	<div class="fixed"></div>
</div>
<% end %>

<% content_for :categories, render(:partial => 'categories') -%>

<% content_for :navegation, render(:partial => 'navegation') -%>