<table class="table">
  <tr>
    <th>Vaga</th>
    <th>Candidatos</th>
    <th class="last">&nbsp;</th>
  </tr>
  <% @job_listings.each do |listing| -%>
  <tr class="<%= cycle("odd", "even") %>">
    <td><span style="font-size:120%;font-weight:bold;"><%= listing.job.company.name %></span> está procurando um <span style="color:#D70000;font-size:125%;font-weight:bold;line-height:1.5;text-decoration:none;"><%= listing.job.title %></span> em <b><%= listing.region %>, <%= listing.location %></b></td>
    <td>0</td>
    <td class="last">
      <%= link_to "#{t("web-app-theme.show", :default => "Show")}", job_path(listing) %>
    </td>
  </tr>
  <% end -%>
</table>

