<p>
          <b><%= t("activerecord.attributes.account.name", :default => t("activerecord.labels.name", :default => "Name")) %>:</b>
          <%= @account.name %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.account.email_main", :default => t("activerecord.labels.email_main", :default => "Email main")) %>:</b>
          <%= @account.email_main %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.account.login", :default => t("activerecord.labels.login", :default => "Login")) %>:</b>
          <%= @account.login %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.account.password", :default => t("activerecord.labels.password", :default => "Password")) %>:</b>
          <%= @account.password %>
        </p>
