      <hr>

      <% if @account.respond_to?"professionals" %>
	      <h1>Profissionais</h1>

	      <table class="table" id="professionals_table">
					<th class="first">ID</th>
					<th>Nome</th>
					<th class="last"></th>
					<% @account.professionals.each do |professional| %>
						<tr class='<%= cycle("odd", "even") %>'>
							<td><%= professional.id %></td>
							<td><%= link_to professional.name, account_path(professional) %></td>
							<td class="last">
								<%= link_to "Desassociar", account_disconnect_professional_path(@account, professional.user.login) if can? :update, @account %>
							</td>
						</tr>
					<% end %>
	      </table>

				<br />
				<h1>Vagas</h1>

	      <table class="table" id="jobs_table">
          <th class="first">Referencia</th>
          <th>Título</th>
					<th class="last"></th>
					<% @account.jobs.each do |job| %>
						<tr class='<%= cycle("odd", "even") %>'>
          		<td><%= link_to job.name, account_job_path(@account, job) %></td>
          		<td><%= job.title %></td>
							<td class="last">
								<%= link_to "#{t("web-app-theme.show", :default => "Show")}", account_job_path(@account, job) %> |
            		<%= link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_account_job_path(@account, job) %> |
            		<%= link_to "#{t("web-app-theme.delete", :default => "Delete")}", account_job_path(@account, job), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
							</td>
						</tr>
					<% end %>
	      </table>
       <% else %>
			    <h1>Empresas</h1>

			    <table class="table" id="professionals_table">
						<th class="first">Nome</th>
						<th class="last"></th>
						<% @account.companies.each do |company| %>
							<tr class='<%= cycle("odd", "even") %>'>
								<td><%= company.name %></td>
								<td class="last">
									<%= link_to "#{t("web-app-theme.show", :default => "Show")}", account_path(company) %> |
									<%= link_to "Criar vaga", new_account_job_path(company) %> | 
									<%= link_to "Desassociar", "#" %>
								</td>
							</tr>
             <% end %>
			    </table>
       <% end %>
